<h1>Dashboard for <%= current_user.user_name %></h1>

<div class='row'>
  <div class='dash-display col s12 m3'>
    <h5 class='clicky-button'>Characters</h5>
    <div class='hide-on-small-only expand-me'>
      <% @characters.each do |char| %>
        <p><%= link_to "#{char.name}", character_path("#{char.id}") %></p>
      <% end %>
    </div>
  </div>


  <div class='dash-display col s12 m3 offset-m1'>
    <h5 class='clicky-button'>Games</h5>
    <div class='hide-on-small-only expand-me'>
      <p><%= @session.session_name %></p>
      <% @session.actors.each do |act| %>
        <p><%= act.name %> playing as <%= act.characters.first.name %></p>
      <% end %>
    </div>
  </div>

  <div class='dash-display col s12 m3 offset-m1'>
    <h5 class='clicky-button'>Friends</h5>
    <div class='hide-on-small-only expand-me'>
      <% @friends.each do |friend| %>
        <p><%= friend.name %></p>
      <% end %>
      <h5>Pending Friends</h5>
      <% @pending.each do |pend| %>
        <p><%= pend.name %></p>
      <% end %>
    </div>
  </div>
</div>
