<h4 class='center'><%= current_user.name %>'s Tavern </h4>

<div class='row'>
  <div class='col s12 m7'>
    <div class='row'>
      <div class='col s5 offset-s1'>
        <h5>Games</h5>
      </div>
      <div class='col s6'>
        <h5><a class="opens-modal btn" id="main-page-button" href="#to-be-opened-modal">New Game</a></h5>
          <div class="to-be-opened-modal modal">
            <%= react_component('NewGame') %>
          </div>
      </div>
    </div>
  <div>
    <% @sessions.each do |session| %>
      <div class='card'>
        <div class='card-content'>
          <h5 class='center plain'><%= link_to "#{session.session_name}", game_session_path("#{session.id}") %></h5>
          <div class='row push-up'>
          <h6>
            <div class='col s3'>
              <span class><%= session.actors.count %></span>
              <i class="person-icon material-icons">portrait</i>
            </div>
            <div class='col s6 center'>
              <% if session.sheet_template %>
                <span><%= session.sheet_template.game_name %></span>
                <% end %>
            </div>
            <div class='col s3'>
              <span class="small-right-margin"><%=session.game_time.strftime("%A %l%P")%></span>
            </div>
          </h6>
          </div>
        </div>
      </div>
    <% end %>
    </div>
  </div>

  <div class='col s12 m4 offset-m1 md-top-margin card'>
    <h5 class='clicky-button'>Friends</h5>
    <div class='hide-on-small-only expand-me'>
      <%#TODO: Change this to react ajax after project, currenly an a-tag that redirect_to back%>
      <%= react_component('UserSearch', buttonStyle: "center", headerText: "Request a friend", userInvite: true) %>
      <% if @friends.empty? %>
        <p class='card'>No user's have accepted a friend request</p>
      <% else %>
       <ul class="collection">
        <% @friends.each do |friend| %>
           <li class="collection-item avatar plain">
             <img src="<%= friend.photo_url %>" class="circle">
              <span class="title"><a class="opens-modal" href="#to-be-opened-modal"><%= "#{friend.name}" %></a>
                <div class="to-be-opened-modal modal">
                  <%= render partial: 'layouts/user_show', :locals => { :user => friend } %>
                </div>
              </span>
              <p>
                <%= friend.user_name %> <br>
                <%= link_to "Chat", chat_users_path(user_id: current_user.id, recipient_id: friend.id ), method: :post %>
              </p>

            </li>
        <% end %>
        </ul>
      <% end %>
      <ul class="collection">
        <% @pending.each do |pend| %>
            <% if pend.user.name == current_user.name %>
              <li class="collection-item avatar plain">
                <img src="<%= pend.to_user.photo_url %>" class="circle">
                <span class="title"><a class="opens-modal" href="#to-be-opened-modal"><%= "#{pend.to_user.name}" %></a>
                  <div class="to-be-opened-modal modal">
                    <%= render partial: 'layouts/user_show', :locals => { :user => pend.to_user } %>
                  </div>
                </span>
                <p><%= pend.to_user.user_name %> <br>
                  Awaiting approval
                </p>
              </li>
            <% else %>
              <li class="collection-item avatar plain">
                <img src="<%= pend.user.photo_url %>" class="circle">
                <span class="title"><a class="opens-modal" href="#to-be-opened-modal"><%= "#{pend.user.name}" %></a>
                  <div class="to-be-opened-modal modal">
                    <%= render partial: 'layouts/user_show', :locals => { :user => pend.user } %>
                  </div>
                </span>
                <p><%= pend.user.user_name %> <br>
                  <%= link_to "Accept", acceptance_users_path(from: pend.user_id, to: current_user.id), method: :put %>
                  <span> or </span>
                  <%= link_to "Decline", denial_users_path(from: pend.user_id, to: current_user.id), method: :put %>
                </p>
              </li>
              <% end %>
      <% end %>
    </ul>
    </div>
  </div>
</div>

<% if current_user.has_chat? %>
  <div class='chat-position'>
    <h6 class='limiter' id='clicky-button'>Chat collapse or expand</h6>
    <h6 class='chat-background'>
      <% current_user.my_user_chats.each do |chat| %>
        <% if chat.visable? %>
          <span class="<%= chat.recipient.id %>"><%= chat.recipient.name %>   <a rel="nofollow" data-method="put" href="/users/display_chat?chat=<%= chat.id %>"><i class='material-icons person-icon'>close</i></a></span>
        <% end %>
      <% end %>
    </h6>
      <div class='chat-container' id='collapse-me'>
        <% current_user.my_user_chats.each do |chat| %>
          <% if chat.visable? %>
            <div class="actual-chat-<%= chat.recipient.id %>">
              <%= react_component('ReactChat', chatId: chat.id, chatType: "UserChat") %>
              <%= react_component('MessagesSender', chatId: chat.id, chatType: "UserChat") %>
            </div>
          <% end %>
        <% end %>
      </div>
  </div>
<% end %>
