<h6 class="center-text">Feel free to log in as test_user@example.com with the password of password</h6>
<div class='card form-width middle'>
  <div class='card-content'>
    <%= form_for :session, url: session_path do |form| %>
      <div class="text-field">
        <%= form.label :email %>
        <%= form.text_field :email, type: 'email' %>
      </div>

      <div class="password-field">
        <%= form.label :password %>
        <%= form.password_field :password %>
      </div>

      <div class="submit-field">
        <%= form.submit class: "btn" %>
        <%= link_to t(".sign_up"), sign_up_path, class: "btn color-stay" %>
      </div>
    <% end %>
  </div>
  <div class="card margin-top">
    <p class="card-content">
      Role Together is intended to serve as a way to play pen and paper role-playing games online or locally. Role Together
      lets users create game sessions and invite any user of the website to their game. Each game has a character sheet template
      that will shape how each character is created. Users can use sheets that any user has already made or create their own to ensure
       their game session fits their play style. There is a chat room built into each session that allows the players to chat amongst themselves and roll dice.
    </p>
  </div>
</div>
