<%= form_for @equip do |f| %>
  <p>Name(required): <%= f.text_field :name %></p>
  <p>Category(required): <%= f.text_field :category %></p>
  <p>Sub Category(required):<%= f.text_field :sub_category %></p>
  <p>Armor: <%= f.text_field :armor %></p>
  <p>Damage: <%= f.text_field :damage %></p>
  <p>Weight: <%= f.text_field :weight %></p>
  <p>Reach: <%= f.text_field :reach %></p>
  <p>Effects: <%= f.text_field :effects %></p>
  <%= f.submit "Create Equipment"%>
<% end %>
