<div class='card dash-display'>
  <%= form_for @user do |f| %>
    <p>Username: <%= f.text_field :user_name %></p>
    <p>Email address: <%= f.text_field :email %></p>
    <p>Name: <%= f.text_field :name %></p>
    <p>Phone number(for text reminders):<%= f.text_field :phone_number %></p>
    <p>Password: <%= f.password_field :password %></p>
    <p>Confirm Password: <%= f.password_field :password_confirmation %></p>
    <%= f.submit "Create User"%>
  <% end %>
</div>
