<h4><%= @user.name %></h4>

<%= link_to "Go Back", :back %>

<div class='dash-display col s12 m3 offset-m1'>
  <h5 class='clicky-button'>Games</h5>
  <div class='hide-on-small-only expand-me'>
    <% @sessions.each do |session| %>
    <h6><%= link_to "#{session.session_name}", game_session_path("#{session.id}") %></h6>
      <% session.characters.each do |char| %>
        <p><%= char.user.name %> playing as <%= char.name %></p>
      <% end %>
    <% end %>
  </div>
</div>
