<h3><%= @game.session_name %></h3>
<% if @game.sheet_template %>
  <%= link_to "Sheet Template", sheet_template_path(@game.sheet_template.id) %>

  <div class='row'>
    <%= react_component('UserCard', characters: @characters, session_id: @game.id) %>

    <div class='dash-display col s12 m3 offset-m1 card'>
      <h5 class='clicky-button'>Invited to game</h5>
      <div class='hide-on-small-only expand-me'>
        <% @players.each do |player| %>
          <p><%= link_to "#{player.user.user_name}", user_path(player.user.id) %>: <%= player.user.name %></p>
          <% end %>
        <%= react_component('UserSearch', userInvite: false, buttonStyle: "clicky-button btn", game: @game.id) %>
      </div>
    </div>


    <div class='dash-display col s12 m3 offset-m1 card md-top-margin'>
      <h5 class='clicky-button'>Equipment</h5>
      <div class='hide-on-small-only expand-me'>
        <% if @game.user_id == current_user.id %>
          <% game_master = true %>
          <%= react_component('EquipmentSearch', gameId: @game.id, isGM: game_master, otherEq: @game.other_equipment) %>
        <% else %>
          <% game_master = false %>
          <%= react_component('EquipmentSearch', gameId: @game.id, isGM: game_master, otherEq: @game.other_equipment) %>
        <% end %>
      </div>
      <div>
        <%= link_to "Create Equipment", new_equipment_path(game: @game.id), class: "center-text block" %>
      </div>
    </div>
  </div>

  <div class='chat-position'>
    <h6 class='limiter' id='clicky-button'>Chat collapse or expand</h6>
    <div class='chat-container' id='collapse-me'>
      <%= react_component('ReactChat', chatId: @game.chat_session.id) %>
      <%= react_component('MessagesSender', chatId: @game.chat_session.id) %>
    </div>
  </div>

<% else %>
  <% if @game.user_id == current_user.id %>
    <div class='warning-header-box'>
      <h4>
        <a class='warning-header' href='/sheet_templates/new?game=<%=@game.id%>'>
          Assign a Sheet Template before inviting users to the game
        </a>
      </h4>
    </div>
    <% end %>
<% end %>
