<h3><%= @game.session_name %></h3>
<div class='row'>
  <div class='col s6 m5 l4'>
  <% if @game.sheet_template %>
    <p><a class ="btn opens-modal" href="#to-be-opened-modal">Sheet Template</a></p>
    <div class="to-be-opened-modal modal">
      <%= render partial: 'layouts/sheet_template', object: @sheet %>
    </div>
  </div>
  <div class='col s6 m5 l4'>
    <p><a class ="btn opens-modal" href="#to-be-opened-modal">Game equipment</a></p>
    <div class="to-be-opened-modal modal">
      <%= render partial: 'layouts/equipment_show', object: @game %>
    </div>
  </div>
</div>
<div>
  <p><%= link_to "Create", new_equipment_path(game: @game.id), class: "center-text btn" %></p>
</div>

  <div class='row'>
    <div class='col s12 m7'>
      <h5 >Actors in this game</h5>
      <% @characters.each do |char|%>
        <div class='card'>
          <div class='row plain'>
            <h5 class='col s4 offset-s1'>
              <a class="opens-modal" href="#to-be-opened-modal"><%= "#{char.name}" %></a>
              <div class="to-be-opened-modal modal">
                <%= render partial: 'layouts/character_sheet', :locals => { :char => char } %>
              </div>
              </h5>
              <h5 class='col s3 center-text'><%= char.level %></h5>
              <h5 class='col s3 center-text'><%= char.currency %></h5>
          </div>
          <div class='row'>
            <p class='col s4 offset-s1'> Played by: <%= char.user.name %></p>
            <p class='col s3 center-text center-text'> Level</p>
            <p class='col s3 center-text center-text'> Gold</p>
          </div>
        </div>
      <% end %>
      <div>
        <div>
          <a class="opens-modal" href="#to-be-opened-modal">Create a character</a>
          <div class="to-be-opened-modal modal">
            <%= render partial: 'layouts/new_character', object: @charater, :locals => { :npc => false,
                                                                            :sheet_template_id => @game.sheet_template.id,
                                                                            :player_id => current_user.player_id } %>
          </div>
        </div>
      </div>
      <% if current_user.is_gm_of?(@game) %>
        <h5>NPCs in this game</h5>
        <% @npcs.each do |npc|%>
          <div>
            <p>
              <a class="opens-modal" href="#to-be-opened-modal"><%= "#{npc.name}" %></a>
            </p>
            <div class="to-be-opened-modal modal">
              <%= render partial: 'layouts/character_sheet', :locals => { :char => npc } %>
            </div>
        </div>
        <% end %>
        <div>
          <div>
            <a class="opens-modal" href="#to-be-opened-modal">Create an NPC</a>
            <div class="to-be-opened-modal modal">
              <%= render partial: 'layouts/new_character', object: @charater, :locals => { :npc => true,
                                                                              :sheet_template_id => @game.sheet_template.id,
                                                                              :player_id => current_user.player_id } %>
            </div>
          </div>
        </div>
      <% end %>
    </div>

    <div class='dash-display col s12 m3 offset-m1 card'>
      <h5 class='clicky-button'>Invited to game</h5>
      <div class='hide-on-small-only expand-me'>
          <%= react_component('UserSearch', userInvite: false, buttonStyle: "center", headerText: "Invite a player", game: @game.id) %>
        <% @players.each do |player| %>
          <p><%= link_to "#{player.user.user_name}", user_path(player.user.id) %>: <%= player.user.name %></p>
          <% end %>
      </div>
    </div>
  </div>

  <div class='chat-position'>
    <h6 class='limiter' id='clicky-button'>Chat collapse or expand</h6>
    <div class='chat-container collapse' id='collapse-me'>
      <%= react_component('ReactChat', chatId: @game.chat_session.id) %>
      <%= react_component('MessagesSender', chatId: @game.chat_session.id) %>
    </div>
  </div>
  </div>

<% else %>
  <% if @game.user_id == current_user.id %>
    <div class='warning-header-box'>
      <h4>
        <a class='warning-header' href='/sheet_templates/new?game=<%=@game.id%>'>
          Assign a Sheet Template before inviting users to the game
        </a>
      </h4>
    </div>
    <% end %>
<% end %>
