<h3><%= @game.session_name %></h3>

<div class='row'>
  <%= react_component('UserCard', characters: @characters, session_id: @game.id) %>
  <div class='dash-display col s12 m3 offset-m1'>
    <h5 class='clicky-button'>Invited to game</h5>
    <div class='hide-on-small-only expand-me'>
      <% @players.each do |player| %>
        <p><%= player.user.user_name%>: <%= player.user.name %></p>
        <% end %>
      <%= react_component('UserSearch', userInvite: false, game: @game.id) %>
    </div>
  </div>
</div>
