<div class='character-sheet'>
  <h4><%= @character.name %></h4>
  <p>"<%= @character.bio %>"</p>
  <h6>Attributes</h6>
  <% @character.stats.each do |stat| %>
    <p><%= stat.name %>: <%= stat.value %></p>
  <% end %>
  <h6>Skills</h6>
  <% @character.skills.each do |skill| %>
    <p><%= skill.name %>: <%= skill.value %></p>
  <% end %>
  <h6>Equipment</h6>
  <% @character.equipment.each do |equip| %>
    <p><%= equip.category %>: <%= equip.name %></p>
  <% end %>
</div>
