<div class='body-color'>
  <div class='in-a-modal card'>
    <div class='card-content'>
      <%= form_for @equip, remote: true do |f| %>
        <div>
          <div>
            <%= f.label :name %>
            <%= f.text_field :name, placeholder: "Broadsword or Sword of the Mourning, Boots or Falcon Boots" %>
          </div>
          <div>
            <%= f.label :category %>
            <%= f.select(:category, options_for_select([["Armor", "Armor"], ["Weapon", "Weapon"]]), include_blank: true) %>
          </div>
          <div>
            <%= f.label :sub_category %>
            <%= f.text_field :sub_category, placeholder: "Sword, Dagger, Boots" %>
          </div>
          <div>
            <%= f.label :armor %>
            <%= f.text_field :armor, placeholder: "Provides +2 defense" %>
          </div>
          <div>
            <%= f.label :damage %>
            <%= f.text_field :damage, placeholder: "2d6" %>
          </div>
          <div>
            <%= f.label :weight %>
            <%= f.text_field :weight, placeholder: "2lbs or 1kg" %>
          </div>
          <div>
            <%= f.label :reach %>
            <%= f.text_field :reach, placeholder: "10 feet, 3 meters" %>
          </div>
          <div>
            <%= f.label :effects %>
            <%= f.text_field :effects, placeholder: "Allows character to swim without breathing" %>
          </div>
            <%= f.hidden_field :game_id, value: game_id %>
          <div class='sm-top-margin'>
            <%= f.submit %>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
