<div class='in-a-modal'>
  <% if @game.user_id == current_user.id %>
    <% game_master = true %>
    <%= react_component('EquipmentSearch', gameId: @game.id, isGM: game_master, otherEq: @game.other_equipment) %>
  <% else %>
    <% game_master = false %>
    <%= react_component('EquipmentSearch', gameId: @game.id, isGM: game_master, otherEq: @game.other_equipment) %>
  <% end %>
  <div>
    <h6 class='click-me'>Weapons</h6>
    <div class='hidden hide'>
      <% @game.weapons.each do |weapon| %>
        <p>Type: <%= weapon.sub_category %> <%= weapon.name %>  Weight: <%= weapon.weight %> Damage: <%= weapon.damage %></p>
        <% if weapon.effects %><p>Effects: <%= weapon.effects %></p> <% end %>
      <% end %>
    </div>
  </div>
  <div>
    <h6 class='click-me'>Armor</h6>
    <div class='hidden hide'>
      <% @game.armor.each do |arm| %>
        <p>Type: <%= arm.sub_category %> <%= arm.name %> Weight: <%= arm.weight %> <%= arm.armor %></p>
        <% if arm.effects %><p>Effects: <%= arm.effects %></p> <% end %>
      <% end %>
    </div>
  </div>
</div>
