<div class='in-a-modal'>
  <%= form_for(@character) do |f| %>
    <p> Character name: <%= f.text_field :name %></p>
    <p> Bio: <%= f.text_area :bio %></p>
    <%= f.hidden_field :player_id, value: player_id %>
    <%= f.hidden_field :sheet_template_id, value: sheet_template_id %>
    <%= f.hidden_field :npc, value: npc %>
    <%= f.submit "Create Character", class: "form-submit" %>
  <% end %>
</div>
