<div class='body-color'>
  <div class='in-a-modal card'>
    <div class='card-content'>
      <h3 class='center'><%= @sheet.game_name%></h3>
      <div class='row dash-display'>
        <div class='col s6 no-margin'>
          <h5>Stats:</h5>
          <% @sheet.stats.each do |stat| %>
            <p><%= stat.name %></p>
          <% end %>
          <% if @sheet.user_id == current_user.id %>
            <%= react_component('MakeName', controller: "stats", redirect_controller: "sheet_templates", name: "name",
                                sheet_id: @sheet.id, display_name: "Add a stat",  placeholder: "Type in a stat name", game: @game.id) %>
          <% end %>
        </div>
        <div class='col s6 no-margin'>
          <h5>Skills:</h5>
          <% @sheet.skills.each do |skill| %>
            <p><%= skill.name %></p>
          <% end %>
          <% if @sheet.user_id == current_user.id %>
            <%= react_component('MakeName', controller: "skills", redirect_controller: "sheet_templates", name: "name",
                                sheet_id: @sheet.id, display_name: "Add a skill", placeholder: "Type in a skill name", game: @game.id) %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
