<div class='in-a-modal'>
  <h3><%= @sheet.game_name%></h3>
  <div class='row dash-display'>
    <div class='col s6 card no-margin'>
      <h5>Skills:</h5>
      <% @sheet.skills.each do |skill| %>
        <p><%= skill.name %></p>
      <% end %>
      <% if @sheet.user_id == current_user.id %>
        <%= react_component('NewGame', controller: "skills", redirect_controller: "sheet_templates", name: "name",
                            sheet_id: @sheet.id, display_name: "Add a skill", placeholder: "Type in a skill name") %>
      <% end %>
    </div>
    <div class='col s6 card no-margin'>
      <h5>Stats:</h5>
      <% @sheet.stats.each do |stat| %>
        <p><%= stat.name %></p>
      <% end %>
      <% if @sheet.user_id == current_user.id %>
        <%= react_component('NewGame', controller: "stats", redirect_controller: "sheet_templates", name: "name",
                            sheet_id: @sheet.id, display_name: "Add a stat",  placeholder: "Type in a stat name") %>
      <% end %>
    </div>
  </div>
</div>
