<!DOCTYPE html>
<html>
<head>
  <title>Role Together</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <nav>
    <ul>
      <li><%= link_to 'Home', root_path %></li>
    </ul>
      <% if signed_in? %>
        <div class='right'>
          <ul>
            <li><%= link_to 'Sign out', sign_out_path, method: :delete %></li>
            </ul>
        </div>
        <% else %>
        <div class='right'>
          <ul>
            <li><%= link_to 'Sign in', sign_in_path %></li>
            <li><%= link_to t(".sign_up"), sign_up_path %></li>
          </ul>
        </div>
        <% end %>
    </nav>
  <div class='container'>
    <div id='flash'>
      <% flash.each do |key, value| %>
        <div class="flash <%= key %>"><%= value %></div>
      <% end %>
    </div>

<%= yield %>
  </div>
</body>
</html>
